* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(153, 188, 252);
}

h1 {
  color: blue;
  background-color: rgb(179, 179, 179);
  text-align: center;
}

.sample, .sub-title {
  color: blueviolet;
}

.px {
  font-size: 30px;
}

.vw {
  font-size: 30px;
}

.rem {
  font-size: 4rem;
}
