* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(153, 188, 252);
  margin: 0;
}

h1 {
  color: blue;
  background-color: rgb(179, 179, 179);
  text-align: center;
}

.content {
  color: blueviolet;
  font-size: 24px;
}

p {
  font-size: 24px;
  color: blue;
}
