* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(153, 188, 252);
}

h1 {
  background-color: rgb(179, 179, 179);
  text-align: center;
}

h2 {

}
